<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Componente Loader-->
<app-loader *ngIf="loaderActive"
  [images]="['/assets/loader/img1.png', '/assets/loader/img2.png','/assets/loader/img3.png']"
  [texts]="['Loading...', 'Please wait...','Processing...']"
  [contentInterval]="1500"
  [loaderDuration]="testDuration">
</app-loader>
<!--Componente Loader-->
<ion-content >
  <div id="container">
    <!--Boton para llamar al loader-->
    <ion-button (click)="activateLoader()">Loader</ion-button>
    <!--Boton para llamar al loader-->
  </div>
</ion-content>
